/* Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/* Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

:root {
  min-height: 100%;
  color-scheme: dark light;

  --color-bg: #fafafa;
  --color-bg-light: #fff;
  --color-text: #333;
  --color-text-dark: #111;
  --color-text-light: #555;

  @media (prefers-color-scheme: dark) {
    --color-bg: #0a0a0a;
    --color-bg-light: #111;
    --color-text: #e5e5e5;
    --color-text-dark: #f0f0f0;
    --color-text-light: #ccc;
  }
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html,
body {
  min-height: 100%;
}

body {
  height: 100vh;
  height: 100dvh;
  padding-bottom: env(safe-area-inset-bottom);
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Improve media defaults */
img,
picture,
video {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
label {
  line-height: 1.1;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

h1 {
  font-size: 3rem;

  @include mobile {
    font-size: 2rem;
  }
}

h2 {
  color: var(--color-text-dark);
  font-size: 2rem;

  @include mobile {
    font-size: 1.8rem;
  }
}

h3 {
  color: var(--color-text-dark);
  font-size: 1.5rem;

  @include mobile {
    font-size: 1.4rem;
  }
}

small {
  color: var(--color-text-light);
  font-size: 0.9rem;
}

a {
  color: var(--color-text);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
