@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

$border-radius: .5rem;

@mixin mobile{
  @media only screen and (max-width: 768px){
    @content;
  }
}

*{
  color: var(--color-text);
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root{
  font-size: 18px;

  --color-bg: #FAFAFA;
  --color-bg-light: #FFF;
  --color-text: #333;
  --color-text-dark: #111;
  --color-text-light: #555;

  @media (prefers-color-scheme: dark){
    --color-bg: #0A0A0A;
    --color-bg-light: #111;
    --color-text: #E5E5E5;
    --color-text-dark: #F0F0F0;
    --color-text-light: #CCC;
  }
}

html, body{
  min-height: 100%;
}

body{
  margin: 0;
  background-color: var(--color-bg);
  font-family: Montserrat, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2, h3{
  margin: 0;
}

h1{
  font-size: 3rem;

  @include mobile{
    font-size: 2rem;
  }
}

h2{
  color: var(--color-text-dark);
  font-size: 2rem;

  @include mobile{
    font-size: 1.8rem;
  }
}

h3{
  color: var(--color-text-dark);
  font-size: 1.5rem;

  @include mobile{
    font-size: 1.4rem;
  }
}

small{
  color: var(--color-text-light);
  font-size: .9rem;
}

a{
  color: var(--color-text);
  text-decoration: none;

  &:hover{
    text-decoration: underline;
  }
}

header{
  width: 100%;
  height: 200px;
  background: url("overlay.png"), url("cover.jpg") no-repeat center fixed;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  @include mobile{
    justify-content: flex-start;
  }

  & > *{
    padding: .5rem;
  }

  *{
    color: #FFF;
    text-shadow: 0 1px 8px #0007;
  }

  nav{
    position: absolute;
    bottom: 0;
  }
}

footer{
  width: 100%;
  padding: 1rem 0;
  background-color: #141B22;
  font-size: .9rem;
  text-align: center;
  display: flex;

  @include mobile{
    flex-direction: column;
  }

  *{
    color: #F0F0F0;
  }
  
  & > div{
    padding: .5rem 1rem;
    flex: 1;
  }
}

.container{
  width: 80%;
  flex: 1;

  @include mobile{
    width: 90%;
  }

  & > div{
    margin: 4rem 0;

    @include mobile{
      margin: 2rem 0;
    }
  }
}

.cards{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 2rem;

  @include mobile{
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

  & > div{
    padding: 1rem;
    background-color: var(--color-bg-light);
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 1rem #0002;
    border-radius: $border-radius;

    p{
      margin: 1rem 0;
      flex: 1;
    }
  }
}
